<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Mama Lee Bread Shop</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

    
</head>
<body ng-app="myApp" ng-controller="AppController">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    
    <div class="container" >
        
        <div class="row">
            <div class="one-half column" style="margin-top: 25%">
                <h4>Hi Admin</h4>
                <p>Thi is the admin page to create new entries, edit or delete bread! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a>.</p>
            </div>
        </div>
        
        <div class="row">       
            <table class="u-full-width">
              <thead>
                <tr>
                    <th>Item Number</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price (NTD)</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td><input class="form-control" ng-model="bread.id"></td>
                    <td><input class="form-control" ng-model="bread.name"></td>
                    <td><input class="form-control" ng-model="bread.description"></td>
                    <td><input class="form-control" ng-model="bread.price"></td>
                    <td><button class="button button-primary" ng-click="addBread()">Add</button></td>
                    <td><button class="button" ng-click="updateBread()">Update</button></td>
                </tr>
                    <tr ng-repeat="bread in breadlist">
                    <td>{{bread.id}}</td>
                    <td>{{bread.name}}</td>
                    <td>{{bread.description}}</td>
                    <td>{{bread.price}}</td>
                    <td><button class="button button-delete" ng-click="deleteBread(bread._id)">Del</button></td>
                    <td><button class="button" ng-click="editBread(bread._id)">Edit</button></td>
                </tr>
              </tbody>
            </table>
        </div>
        
    </div>
        

    <!-- End Document
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="controller/controller.js"></script>

    
</body>
</html>
