<div class="container needspace" ng-controller="AppController">
    <div class="row">
        <a href="#!/gridView" class="button">Go to shopping site</a>
        <a ng-click="enterAddMode()" class="button addbreadbtn">Add Bread</a>
    </div>
    <div class="row">
        <div class="one-half column" style="margin-top: 5%">
            <h4>Inventory Management</h4>
            <p>This is the admin page to create new entries, edit or delete bread!</p>
        </div>
    </div>

    <div class="row">
        <table class="u-full-width">
          <thead>
            <tr>
                <th style="min-width: 30px;"><a ng-click="sortBy('id')"># <i class="fa fa-sort" aria-hidden="true"></i></a></th>
                <th><i class="fa fa-picture-o" aria-hidden="true"></i></th>
                <th><a ng-click="sortBy('name')">Name <i class="fa fa-sort" aria-hidden="true"></i></a></th>
                <th><a ng-click="sortBy('description')">Description <i class="fa fa-sort" aria-hidden="true"></i></a></th>
                <th><a ng-click="sortBy('price')">$ <i class="fa fa-sort" aria-hidden="true"></i></a></th>
                <th style="min-width: 55px;"><a ng-click="sortBy('stock')">Stock <i class="fa fa-sort" aria-hidden="true"></i></a></th>
            </tr>
          </thead>
          <tbody>
            
            <tr ng-repeat="bread in breadlist | orderBy:propertyName:reverse">
                <td>{{bread.id}}</td>
                <td>
                    <form action="/api/upload" method="post" enctype="multipart/form-data" onchange="this.submit();">
                        <input name="myFile" type="file" id="file" class="inputfile" />
                        <label for="file"><i class="fa fa-upload" aria-hidden="true"></i></label>
                    </form>
                </td>
                <td>{{bread.name}}</td>
                <td>{{bread.description}}</td>
                <td>{{bread.price}}</td>
                <td>{{bread.stock}}</td>
                <td><button class="button" ng-click="plusBread(bread._id)"><i class="fa fa-plus" style="color: #999;" aria-hidden="true"></i></button></td>
                <td><button class="button" ng-click="minusBread(bread._id)"><i class="fa fa-minus" style="color: #999;" aria-hidden="true"></i></button></td>
                <td><button class="button" ng-click="editBread(bread._id)">Edit</button></td>
            </tr>
              
          </tbody>
        </table>
        
    </div>
</div>
    
    
<div class="inputbar" id="inputBar">
    <div class="container">
    <table class="u-full-width">
        <tbody>

            <tr>
                <td><input class="form-control" ng-model="bread.id" style="max-width: 50px;"></td>
                <td><input class="form-control" ng-model="bread.name"></td>
                <td><input class="form-control" ng-model="bread.description"></td>
                <td><input class="form-control" ng-model="bread.price" style="max-width: 50px;"></td>
                <td><input class="form-control" ng-model="bread.stock" style="max-width: 50px;"></td>

                <td><button class="button button-primary" id="addButton" ng-click="addBread()">Add</button></td>
                <td><button class="button" id = "updateButton" ng-click="updateBread()">Update</button></td>
                <td><button class="button button-delete" id="deleteButton" ng-click="deleteBread(bread._id)">Delete</button></td>
                <td class="table-col-clear"><button class="button" id="cancelButton" ng-click="exitAddUpdateMode()">Cancel</button></td>

            </tr>

        </tbody>
    </table>
    </div>
</div>