<div class="container" ng-controller="AppController">
        
    <a href="#!/adminView" class="button">Go to admin</a>
    
    <div class="row">
        <div class="flexbox">
            
            <div class="flexchild" ng-repeat="bread in breadlist">
                <span class="name">{{bread.name}}</span>
                <span class="price">NTD {{bread.price}}</span>
                <span class="description">{{bread.description}}</span>
            </div>
            
        </div>
    </div>
        
</div>